.card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;

  transition:
    transform 0.3s ease,
    background-color 0.3s ease;

  background-color: #f8f9fa;
  border: 1px solid transparent;
  height: 100%;
}

.card:hover {
  background-color: #ebebeb;
  transform: translateY(-4px);
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #e2e8f0;
  overflow: hidden;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  display: block;
}

.card:hover .imageWrapper img {
  /* transform: scale(1.05); */
}

.info {
  padding: 1.25rem 0.75rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.date {
  font-size: 0.8rem;
  color: #94a3b8;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.tags {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.tag {
  font-size: 0.65rem;
  background: #f8f9fa;
  color: #475569;
  padding: 0.15rem 0.5rem;
  border-radius: 4px;
  border: 1px solid #e2e8f0;
  font-weight: 500;
}
