.headerRoot {
  display: flex;
  width: 100%;
  /* background-color: #fdf8f2; */
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  margin-bottom: 40px;
}

.navTitle {
  color: #6b7280;
  font-weight: 500;
  padding: 0 8px;
}
.navTitle:hover {
  color: #f8d4a8;
}

.navItems {
  display: flex;
}

.navItem {
  color: #6b7280;
  font-weight: 500;
  padding: 8px 8px;
}
.navItem:hover {
  color: #f8d4a8;
}

.changeTheme {
  object-fit: cover;
  filter: brightness(0) saturate(100%) invert(48%) sepia(11%) saturate(554%)
    hue-rotate(182deg) brightness(87%) contrast(81%);
  border-radius: 6px;
  padding: 8px 8px;
  margin: 0 8px;
}
.changeTheme:hover {
  background-color: rgba(0, 0, 0, 0.05);
  filter: brightness(0.5);
}
