.headerRoot {
  display: flex;
  width: 100%;
  background-color: #fdf8f2;
  align-items: center;
  padding: 16px 0;
}

.navTitle {
  color: #6b7280;
  margin-left: 0;
  font-weight: 500;
  padding: 8px;
}

.navItems {
  margin: 0 0 0 auto;
}

.navItem{
  color: #6b7280;
  font-weight: 500;
  padding: 8px;
}

.navItem:hover {
  color: #f8d4a8;
}