.headerRoot {
  display: flex;
  width: 100%;
  /* background-color: #fdf8f2; */
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  margin-bottom: 40px;
}

.navTitle {
  color: #6b7280;
  font-weight: 500;
  padding: 0 8px;
}
.navTitle:hover {
  color: #f8d4a8;
}

.navItems {
  display: flex;
}

.navItem {
  color: #6b7280;
  font-weight: 500;
  padding: 0 8px;
}
.navItem:hover {
  color: #f8d4a8;
}

.changeTheme {
  object-fit: cover;
  border: 2px solid #6b7280;
  border-radius: 8px;
  padding: 0 8px;
  margin: 0 8px;
}
.changeTheme:hover {
  border: 2px solid #f8d4a8;
  filter: brightness(0) saturate(100%) invert(84%) sepia(2%) saturate(3976%)
    hue-rotate(343deg) brightness(92%) contrast(122%);
}
