.headerRoot {
  display: flex;
  width: 100%;
  /* background-color: #fdf8f2; */
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  margin-bottom: 40px;
}

.navTitle {
  color: #6b7280;
  font-weight: 500;
  padding: 0 8px;
}

.navItems {
  
}

.navItem{
  color: #6b7280;
  font-weight: 500;
  padding: 0 8px;
}

.navItem:hover {
  color: #f8d4a8;
}