.head {
  font-size: 3em;
  margin: 16px 0 24px;
}

.description {
  margin: 16px 0 24px;
  color: #4b5563;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
  padding: 2rem 0;
}
